[submodule "imglib2"]
	path = imglib2
	url = git@github.com:imglib/imglib2.git
[submodule "imglib2-realtransform"]
	path = imglib2-realtransform
	url = git@github.com:imglib/imglib2-realtransform.git
[submodule "imglib2-algorithm-gpl"]
	path = imglib2-algorithm-gpl
	url = git@github.com:imglib/imglib2-algorithm-gpl.git
[submodule "imglib2-roi"]
	path = imglib2-roi
	url = git@github.com:imglib/imglib2-roi.git
[submodule "imglib2-ui"]
	path = imglib2-ui
	url = git@github.com:imglib/imglib2-ui.git
[submodule "imglib2-algorithm-fft"]
	path = imglib2-algorithm-fft
	url = git@github.com:imglib/imglib2-algorithm-fft.git
